.whoContainer {
  height: 100%;
  scroll-snap-align: center;
  display: flex;
  justify-content: space-between;
}

.whoWeAre {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: auto;
}

.whoWeAre h2 {
  color: var(--secondary-color);
}

.description {
  font-size: 24px;
}

.right {
  flex: 2;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .whoContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 200vh;
    gap: 20px;
  }
  .right {
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  .right h1 {
    text-align: center;
    font-size: 60px;
  }
  .right .description {
    text-align: justify;
  }
}

@media only screen and (max-width: 890px) {
  .left {
    display: none;
  }

  .whoSeciton {
    height: 100vh;
  }

  .right {
    width: 100vw;
  }
}
