.searchbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media only screen and (max-width: 1080px) {
  .navbar {
    width: 100%;
  }
  .section {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .list {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .button {
    display: none;
  }

  .logo {
    justify-content: center;
  }
}
